<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>

    <link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>
</head>
<body>

<nav class="navbar navbar-light navbar-expand-lg" style="background-color: darkorange;">
    <a class="navbar-brand" href="/" style="font-size: 20px;font-family: sans-serif;">HOME</a>
    <ul class="navbar-nav mr-auto" style="font-size: 20px;font-family: sans-serif;">
        <li class=""nav-item" style="background-color: bisque;"><a class="nav-link" href="/one">ABOUT</a></li>
        <li class=""nav-item" style="background-color: lemonchiffon;"><a class="nav-link" href="/two">SKILLS</a></li>
        <li class=""nav-item" style="background-color: bisque;"><a class="nav-link" href="/rama">PROJECTS</a></li>
        <li class=""nav-item" style="background-color: lemonchiffon;"><a class="nav-link" href="/contact">CONTACT ME</a></li>


    </ul>
</nav>






















