<%include shared/header.ejs%>
<!DOCTYPE HTML>
<html>
<head>
    <title>Hemant ©</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Outing Travel" />
    <!-- css files -->
    <link href="stylesheets/bootstrapp.min.css?d" rel="stylesheet" type="text/css" media="all" />
    <link href="stylesheets/font-awesome.min.css?1" rel="stylesheet" type="text/css" media="all" />
    <link href="stylesheets/styles.css?1c2" rel="stylesheet" type="text/css" media="all"/>
    <!-- /css files -->
    <!-- font files -->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- /font files -->
    <!-- js files -->
    <script src="javascripts/modernizr.custom.js"></script>
    <!-- /js files -->
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">


<!-- Services Section -->
<section class="our-services slideanim" id="service">
    <h3 class="text-center slideanim">SKILLS</h3>
    <p class="text-center slideanim">“If you think math is hard, try web design.” ―Trish Parr</p>
    <div id="features">
        <div class="container">
            <div class="row">
                <div class="col-md-6 centered">

                    <!-- ACCORDION -->
                    <div class="accordion ac" id="accordion2">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle slideanim" data-toggle="collapse" data-parent="#accordion2"
                                   href="#collapseOne"># Hardware and Networking Professional Cloud</a>
                            </div><!-- /accordion-heading -->

                        </div><!-- /accordion-group -->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle slideanim" data-toggle="collapse" data-parent="#accordion2"
                                   href="#collapseTwo"># Java SE 7 Programming</a>
                            </div>
                        </div><!-- /accordion-group -->

                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle slideanim" data-toggle="collapse" data-parent="#accordion2"
                                   href="#collapseThree"># Java Web Component Development with Servlets & JSPs Java EE 6</a>
                            </div>
                        </div><!-- /accordion-group -->

                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle slideanim" data-toggle="collapse" data-parent="#accordion2"
                                   href="#collapseFour"># Interactive Media Design - Web</a>
                            </div>
                        </div><!-- /accordion-group -->

                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle slideanim" data-toggle="collapse" data-parent="#accordion2"
                                   href="#collapseFour"># HTML, CSS, JavaScript, ASP.NET, the Document Object Model (DOM),
                                    Application Programming Interfaces (APIs), and a variety of popular scripting frameworks</a>
                            </div>
                        </div><!-- /accordion-group -->

                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle slideanim" data-toggle="collapse" data-parent="#accordion2"
                                   href="#collapseFour"># MySQL, jQuery, Git, Bootstrap, HTML5, Photoshop, Illustrator,
                                    MVC,</a>
                            </div>
                        </div><!-- /accordion-group -->

                    </div><!-- Accordion -->
                </div>
                <div class="col-md-6">
                    <img src="images/service-img.jpg" class="img-responsive slideanim" alt="service">
                </div>
            </div>
        </div><!--/ .container -->
    </div><!--/ #features -->
</section>
<!-- /Services Section -->


<!-- Footer Section -->
<section class="footer">
    <h2 class="text-center">THANKS FOR VISITING</h2>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-left">
                <h4>Contact Information</h4>
                <div class="contact-info">
                    <div class="address">
                        <i class="glyphicon glyphicon-globe"></i>
                        <p class="p3">Barrie,Ontario</p>
                        <p class="p4">CANADA</p>
                    </div>
                    <div class="phone">
                        <i class="glyphicon glyphicon-phone-alt"></i>
                        <p class="p3">+1 647-887-7582</p>
                        <p class="p4">+91 9988840660</p>
                    </div>
                    <div class="email-info">
                        <i class="glyphicon glyphicon-envelope"></i>
                        <p class="p3"><a href="mailto:email1@example.com">hemantdhiman07@gmail.com</a></p>

                    </div>
                </div>
            </div>
        </div><!-- container -->
        <hr>
        <div class="copyright">
            <p>© 2018 All Rights Reserved | HEMANT DHIMAN</a></p>
        </div>
</section>
<!-- /Footer Section -->
<!-- Back To Top -->
<a href="#0" class="cd-top cd-is-visible">Top</a>
<!-- /Back To Top -->

<!-- js files -->
<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/bootstrapp.min.js"></script>
<script src="javascripts/SmoothScroll.min.js"></script>
<!-- js for gallery -->
<script src="javascripts/darkbox.js"></script>
<!-- /js for gallery -->
<!-- js for back to top -->
<script src="javascripts/main.js?123"></script>
<!-- /js for back to top -->
<!-- js for nav-smooth scroll -->
<script>
    $(document).ready(function(){
        // Add smooth scrolling to all links in navbar + footer link
        $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

            // Store hash
            var hash = this.hash;

            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
            $('html, body').animate({
                scrollTop: $(hash).offset().top
            }, 900, function(){

                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
            });
        });
    })
</script>
<!-- /js for nav-smooth scroll -->
<!-- js for slide animations -->
<script>

    $(window).scroll(function() {
        $(".slideanim").each(function(){
            var pos = $(this).offset().top;

            var winTop = $(window).scrollTop();
            if (pos < winTop + 600) {
                $(this).addClass("slide");
            }
        });
    });

</script>
<!-- /js for slide animations -->
<!-- /js files -->

<% include shared/footer.ejs%>